.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div h1 {
  text-align: center;
}

table {
  width: 700px;
  border-collapse: collapse;
}

table caption {
  color: #333;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px groove gainsboro;
  color: rgb(252, 240, 240);
}

table th,
td {
  text-align: center;
  padding: 10px;
}

